@use "../../scss/common";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

main {
  @include flexColumn(7rem);
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 15rem;

  h2 {
    @include heading2Styles($darkBlue);
    width: 42.7%;
    text-align: center;
    @media (max-width: 1200px) {
      width: 49.5%;
    }
  }

  .map-container {
    position: relative;
    max-width: 140rem;
    img {
      width: 100%;
    }

    svg {
      position: absolute;
    }

    svg:hover {
      cursor: pointer;
      path[fill="#F58021"] {
        fill: $white;
      }
    }

    .eagle-pin {
      top: 43.4%;
      left: 11.7%;
    }

    .crocodile-pin {
      bottom: 39.36%;
      left: 20.64%;
    }

    .lion-pin {
      bottom: 34.2%;
      left: 41%;
    }

    .gorilla-pin {
      bottom: 31.69%;
      right: 44%;
    }

    .lemur-pin {
      bottom: 18.53%;
      right: 36.64%;
    }

    .panda-icon {
      top: 38.6%;
      right: 25.4%;
    }

    .tiger-pin {
      right: 20.92%;
      bottom: 28.28%;
    }

    .koala-pin {
      right: 11.57%;
      bottom: 15.78%;
    }
  }
}
