@use "../../scss/global";
@use "../../scss/common";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

main {
  @include paddingLeftRight;
  @include flexColumn(7rem);
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 15rem;

  h2 {
    @include heading2Styles($darkBlue);
    width: 42.7%;
    text-align: center;
  }

  .map-container {
    position: relative;

    svg {
      position: absolute;
    }

    svg:hover {
      cursor: pointer;
      path[fill="#F58021"] {
        fill: $white;
      }
    }

    .eagle-pin {
      top: 39.6rem;
      left: 16.4rem;
    }

    .crocodile-pin {
      top: 40.9rem;
      left: 28.9rem;
    }

    .lion-pin {
      bottom: 31.2rem;
      left: 57.4rem;
    }

    .gorilla-pin {
      bottom: 28.9rem;
      right: 61.6rem;
    }

    .lemur-pin {
      bottom: 16.9rem;
      right: 51.3rem;
    }

    .panda-icon {
      top: 35.2rem;
      right: 35.6rem;
    }

    .tiger-pin {
      right: 29.3rem;
      bottom: 25.8rem;
    }

    .koala-pin {
      right: 16.2rem;
      bottom: 14.4rem;
    }
  }
}
