@use "global";
@use "variables" as *;
@use "mixins" as *;
@use "sass:math";

header {
  @include flexColumn;

  .logo-links {
    @include paddingLeftRight;
    @include flexAlignCenter;
    background-color: $orange;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & > .link-container {
      @include flexAlignCenter;
      gap: 6.7rem;
    }

    .page-navigation > ul {
      a {
        color: $black;

        &:hover {
          color: $lightGreen;
        }
      }

      a.active {
        color: $lightGreen;
      }
    }
  }
  .btn-humburger-menu,
  .btn-cancel-header {
    display: none;
  }

  @media (max-width: 1200px) {
    .logo-links {
      @include paddingLeftRightOn1200px;
    }
  }

  @media (max-width: 880px) {
    .page-navigation {
      display: none;
    }
    .social-networks {
      display: none;
    }

    .btn-humburger-menu {
      display: block;
    }

    .page-navigation.open {
      @include flexColumn(8rem);
      position: absolute;
      top: 0;
      right: 0;
      background-color: $darkBlue;
      padding: 4rem 4.7rem 26.9rem;
      ul {
        flex-direction: column;
        gap: 5rem;
        padding: 0 4rem;
        li > a {
          color: $white;
        }
      }
      .btn-cancel-header {
        display: block;
        align-self: flex-end;
      }
    }
  }
}

.page-navigation > ul {
  @include flexAlignCenter(4.825rem);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.social-networks {
  @include flexAlignCenter(3rem);
}

footer {
  @include paddingLeftRight;
  padding-top: 7rem;
  padding-bottom: 3.6rem;
  background-color: $darkBlue;
  .logos-and-links {
    @include flexAlignCenter();
    justify-content: space-between;
    & > div {
      @include flexAlignCenter(6.5rem);
    }

    .page-navigation > ul {
      a {
        color: $white;

        &:hover {
          color: $lightGreen;
        }
      }
    }

    button {
      @include buttonStyles(transparent, $white);
      @include flexAlignCenter(1rem);
      border: 1px solid $white;
      padding: 2.6rem 2.3rem;

      &:hover {
        background-color: $lightGreen;
      }
    }
  }

  hr {
    margin: 7rem 0 4.4rem;
  }

  .credits-and-social-networks {
    @include flexAlignCenter();
    justify-content: space-between;
    .credits {
      @include flexAlignCenter(5rem);
      span {
        @include regularText;
        color: $white;
      }
    }
  }

  @media (max-width: 1200px) {
    padding-left: 0;
    padding-right: 0;

    .logos-and-links,
    .credits-and-social-networks {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    .logos-and-links {
      & > div {
        gap: 3rem;
      }

      nav > ul {
        gap: 2rem;
      }
    }
  }
  @media (max-width: 880px) {
    padding-left: 7rem;
    padding-right: 7rem;
    .logos-and-links {
      flex-direction: column;
      gap: 5rem;
      & > div,
      & > nav {
        width: 100%;
      }
      & > div,
      & > nav > ul {
        justify-content: space-between;
      }
    }
    .credits-and-social-networks {
      flex-direction: column-reverse;
      gap: 3rem;
      .credits {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
