@mixin regularText {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

@mixin paddingLeftRight {
  padding: 0 26rem;
}

@mixin flexAlignCenter($gap: 0) {
  display: flex;
  align-items: center;
  gap: $gap;
}
