@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.logo-links {
  padding: 0 26rem;
  display: flex;
  align-items: center;
  gap: 0;
  background-color: #f58021;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.logo-links > .link-container {
  display: flex;
  align-items: center;
  gap: 0;
  gap: 6.7rem;
}
.logo-links nav > ul {
  display: flex;
  align-items: center;
  gap: 4.825rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.logo-links nav > ul a {
  color: #000000;
}
.logo-links nav > ul a:hover {
  color: #00a092;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.panda-container {
  padding: 0 26rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-start;
  padding-top: 12.9rem;
  padding-bottom: 12.9rem;
  background-image: url(../../assets/images/panda.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.panda-container h1 {
  font-weight: 800;
  font-size: 82px;
  line-height: 100%;
  letter-spacing: 1%;
  text-transform: uppercase;
  width: 74.1666666667%;
  color: #00a092;
}
.panda-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 35.8333333333%;
}
.panda-container button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f58021;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2.6rem 3rem;
}

main {
  margin: 15rem 0;
}
main .articles-donation {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
main .articles-donation section {
  padding: 0 26rem;
  display: flex;
  align-items: center;
  gap: 7.7rem;
}
main .articles-donation section h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #00a092;
  margin-bottom: 5rem;
}
main .articles-donation section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
}
main .articles-donation section img {
  max-width: 80rem;
}
main .donation-container {
  padding: 0 26rem;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #20113d;
  color: #ffffff;
}
main h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2rem;
}
main p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 43.5%;
}
main .donation-button-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .donation-button-box h4 {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}
main .donation-button-box button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  white-space: nowrap;
  position: relative;
}
main .donation-button-box button span {
  padding: 2.6rem 0 2.6rem 1.4rem;
}
main .donation-button-box button div {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
  background-color: #f58021;
  padding: 2.6rem;
  border-radius: 5px;
}
main .pets-carousel-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin-top: 13.6rem;
  justify-content: center;
}
main .pets-carousel-container .article-arrows {
  width: 47.9%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
main .pets-carousel-container .article-arrows h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #00a092;
}
main .pets-carousel-container .article-arrows > div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
main .pets-carousel-container .article-arrows > div p {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  color: black;
  width: 100%;
}
main .pets-carousel-container .article-arrows .arrows-box {
  margin-top: 10rem;
}
main .pets-carousel-container .article-arrows .arrows-box button {
  border-radius: 5px;
  border: 1px solid #20113d;
}
main .pets-carousel-container .carousel-container {
  display: grid;
  grid-template-columns: repeat(4, 44rem);
  grid-template-rows: repeat(2, 74.7rem);
  row-gap: 4rem;
  gap: 4rem;
  margin-left: 26rem;
  margin-bottom: 10rem;
  overflow-x: scroll;
  width: 166rem;
}
main .pets-carousel-container .carousel-container .carousel-item {
  position: relative;
  overflow: hidden;
}
main .pets-carousel-container .carousel-container .carousel-item span {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem 1.9rem;
  background-color: #20113d;
  border-top-left-radius: 5px;
}
main .pets-carousel-container .carousel-container .carousel-item .carousel-image-box {
  display: flex;
  align-items: center;
  max-width: 44rem;
  height: 43.6rem;
  overflow: hidden;
}
main .pets-carousel-container .carousel-container .carousel-item .carousel-image-box img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}
main .pets-carousel-container .carousel-container .carousel-item > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  gap: 2rem;
  background-color: #20113d;
  padding-bottom: 7.4rem;
}
main .pets-carousel-container .carousel-container .carousel-item > div:last-child p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
main .pets-carousel-container .carousel-container .carousel-item > div:last-child h4 {
  margin-top: 3rem;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}
main .pets-carousel-container .carousel-container .carousel-item > div:last-child button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #f58021;
  background-color: "";
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
main .pets-carousel-container .choose-fav {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #20113d;
  background-color: "";
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #20113d;
  padding: 2.6rem 3.5rem;
  border: 1px solid #20113d;
}
main .arrows-box {
  display: flex;
  gap: 5.5rem;
}
main .arrows-box button {
  border-radius: 5px;
  padding: 1.9rem 1.7rem;
}
main .pay-and-feed-container {
  padding: 0 26rem;
  display: flex;
  flex-direction: column;
  gap: 11.6rem;
  background-color: #20113d;
  color: #ffffff;
  margin-top: 15rem;
  padding-bottom: 10rem;
  padding-top: 9rem;
}
main .pay-and-feed-container h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: "";
}
main .pay-and-feed-container .number-and-line {
  display: flex;
  align-items: center;
  gap: 9.3rem;
  justify-content: space-between;
  margin-bottom: 8.2rem;
}
main .pay-and-feed-container .number-and-line span {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}
main .pay-and-feed-container .number-and-line hr {
  width: 100%;
}
main .pay-and-feed-container .donation-main-content {
  display: flex;
  align-items: flex-start;
  gap: 16rem;
}
main .pay-and-feed-container .donation-main-content div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  margin-top: 1.9rem;
}
main .pay-and-feed-container .donation-main-content div h4 {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
main .pay-and-feed-container .donation-main-content div p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
}
main .pay-and-feed-container .donation-main-content div button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f58021;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  padding: 2.6rem 3.4rem;
}
main .feedback-container {
  background-image: url(../../assets/images/panda-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 26rem;
  padding-bottom: 15rem;
  padding-top: 15rem;
}
main .feedback-container .users-feedback {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}
main .feedback-container .users-feedback > div:first-child h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5rem;
}
main .feedback-container .users-feedback > div:first-child p {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  width: 100%;
}
main .feedback-container .feedbacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 3);
  gap: 3rem;
}
main .feedback-container .feedbacks > section {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  gap: 2rem;
  padding: 5rem 5rem 7rem 5rem;
  background-color: #ffffff;
  border-radius: 5px;
}
main .feedback-container .feedbacks > section h4 {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  color: #000000;
}
main .feedback-container .feedbacks > section p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
}
main .feedback-container .feedbacks > section span {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
main .feedback-container .feedbacks .arrows-box.feedback {
  margin-top: 3rem;
}
main .feedback-container .feedbacks .arrows-box.feedback button {
  border: 1px solid #ffffff !important;
}
main .feedback-container .btn-leave-feedback {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffffff;
  margin-top: 37.6rem;
  padding: 2.6rem 7.7rem;
}
main .animal-caring {
  padding: 0 26rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 13.6rem;
  align-items: center;
}
main .animal-caring .feed-animal-heading {
  width: 42%;
}
main .animal-caring .feed-animal-heading h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #00a092;
  text-align: center;
  margin-bottom: 5rem;
}
main .animal-caring .feed-animal-heading p {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
  color: #20113d;
  width: 95%;
  text-align: center;
}
main .animal-caring .feed-animal-container section > div:first-child {
  width: 44rem;
}
main .animal-caring .feed-animal-container section > div:first-child img {
  width: 100%;
}
main .animal-caring .feed-animal-container section > div:last-child {
  margin-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #20113d;
}
main .animal-caring .feed-animal-container section > div:last-child p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
main .animal-caring .feed-animal-container section > div:last-child button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #f58021;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}/*# sourceMappingURL=index.css.map */