@use "../../scss/common";
@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

main {
  .animal-navigation {
    background-color: $darkBlue;
    width: fit-content;

    .camera-and-btn {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 3.5rem;
      padding-right: 3rem;
      border-bottom: 1px solid $white;
      span {
        @include flexAlignCenter(1rem);
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: $white;
        background-color: $orange;
        width: fit-content;
        padding: 0.8rem 2.4rem;
        border-radius: 0 0 5px 0;
      }

      .btn-open-close {
        margin-bottom: -0.7rem;
      }

      .btn-open-close.open {
        transform: rotate(180deg);
      }
    }

    ul > li:not(.camera-and-btn) {
      @include flexAlignCenter();
      justify-content: center;
      padding: 3.3rem 5.8rem;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
    }

    ul > li:last-child {
      border-bottom: none;
    }

    a {
      @include flexAlignCenter(2rem);
      @include regularText;

      color: $white;

      p {
        width: 16.9rem;
        display: none;
      }

      svg {
        circle {
          stroke: $orange;
        }
        g {
          fill: $orange;
        }
      }
    }

    &.open {
      p {
        display: block;
      }
    }

    a.active {
      svg {
        circle {
          stroke: white;
        }
        g {
          fill: white;
        }
      }
    }

    &.open {
      a > svg {
        circle {
          fill: none;
          stroke: none;
        }
        path {
          fill: white;
        }
      }
    }
  }
}
