@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0;
}
header .logo-links {
  padding: 0 26rem;
  display: flex;
  align-items: center;
  gap: 0;
  background-color: #f58021;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
header .logo-links > .link-container {
  display: flex;
  align-items: center;
  gap: 0;
  gap: 6.7rem;
}
header .logo-links .page-navigation > ul a {
  color: #000000;
}
header .logo-links .page-navigation > ul a:hover {
  color: #00a092;
}
header .logo-links .page-navigation > ul a.active {
  color: #00a092;
}

.page-navigation > ul {
  display: flex;
  align-items: center;
  gap: 4.825rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 3rem;
}

footer {
  padding: 0 26rem;
  padding-top: 7rem;
  padding-bottom: 3.6rem;
  background-color: #20113d;
}
footer .logos-and-links {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}
footer .logos-and-links > div {
  display: flex;
  align-items: center;
  gap: 6.5rem;
}
footer .logos-and-links .page-navigation > ul a {
  color: #ffffff;
}
footer .logos-and-links .page-navigation > ul a:hover {
  color: #00a092;
}
footer .logos-and-links button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ffffff;
  padding: 2.6rem 2.3rem;
}
footer .logos-and-links button:hover {
  background-color: #00a092;
}
footer hr {
  margin: 7rem 0 4.4rem;
}
footer .credits-and-social-networks {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
}
footer .credits-and-social-networks .credits {
  display: flex;
  align-items: center;
  gap: 5rem;
}
footer .credits-and-social-networks .credits span {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

main .animal-navigation {
  background-color: #20113d;
  width: -moz-fit-content;
  width: fit-content;
  position: sticky;
  top: 0;
}
main .animal-navigation .camera-and-btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3.5rem;
  padding-right: 3rem;
  border-bottom: 1px solid #ffffff;
}
main .animal-navigation .camera-and-btn span {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #f58021;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2.4rem;
  border-radius: 0 0 5px 0;
}
main .animal-navigation .camera-and-btn .btn-open-close {
  margin-bottom: -0.7rem;
}
main .animal-navigation .camera-and-btn .btn-open-close.open {
  transform: rotate(180deg);
}
main .animal-navigation ul > li:not(.camera-and-btn) {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
  padding: 2.5rem 5rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
main .animal-navigation.open ul > li:not(.camera-and-btn) {
  padding: 5rem 1.7rem;
}
main .animal-navigation ul > li:last-child {
  border-bottom: none;
}
main .animal-navigation a {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
main .animal-navigation a p {
  width: 16.9rem;
  display: none;
}
main .animal-navigation a svg circle {
  stroke: #f58021;
}
main .animal-navigation a svg g {
  fill: #f58021;
}
main .animal-navigation.open p {
  display: block;
}
main .animal-navigation a.active svg circle {
  stroke: white;
}
main .animal-navigation a.active svg g {
  fill: white;
}
main .animal-navigation.open a > svg circle {
  fill: none;
  stroke: none;
}
main .animal-navigation.open a > svg path {
  fill: white;
}
main .navigation-and-videos {
  display: flex;
  gap: 2rem;
}
main .navigation-and-videos .animal-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding-right: 26rem;
  margin-top: 5rem;
}
main .navigation-and-videos .animal-container .video-heading {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .navigation-and-videos .animal-container .video-heading > h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #00a092;
  grid-column: span 2;
  justify-self: flex-end;
}
main .navigation-and-videos .animal-container .video-heading > button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f58021;
  justify-self: flex-end;
  padding: 2.6rem 3.4rem;
}
main .navigation-and-videos .animal-container .large-youtube-link > img {
  width: 140rem;
}
main .navigation-and-videos .animal-container .more-videos-container {
  margin-top: 5rem;
}
main .navigation-and-videos .animal-container .more-videos-container h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  color: #000000;
}
main .navigation-and-videos .animal-container .more-videos-container > div {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  margin-top: 3rem;
}
main .navigation-and-videos .animal-container .more-videos-container > div button {
  border-radius: 5px;
}
main .navigation-and-videos .animal-container .more-videos-container > div button svg {
  fill: #20113d;
}
main .navigation-and-videos .animal-container .more-videos-container > div button:hover {
  background-color: #20113d;
}
main .navigation-and-videos .animal-container .more-videos-container > div button:hover svg {
  fill: #ffffff;
}
main .navigation-and-videos .animal-container .more-videos-container > div button {
  padding: 2rem;
}
main .navigation-and-videos .animal-container .more-videos-container > div .carousel-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}
main .donation-container {
  padding: 0 26rem;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #20113d;
  color: #ffffff;
}
main .donation-container h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2rem;
}
main .donation-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 90%;
}
main .donation-container .donation-button-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .donation-container .donation-button-box h4 {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #ffffff;
}
main .donation-container .donation-button-box button {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid white;
  white-space: nowrap;
  position: relative;
  padding-left: 1.4rem;
}
main .donation-container .donation-button-box button:hover img {
  background-color: #d26004;
}
main .donation-container .donation-button-box button img {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
  background-color: #f58021;
  padding: 2.6rem;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */